/* Initially hide the text content */
.text-content.hidden {
    display: none;
}

/* Style for your button  */

.read-more-btn {
    /* Text Styling */
    color: black; /* Text color */
    font-size: 16px; /* Text size */
    text-align: center; /* Centering text */

    /* Background */
    background-color: white; /* Background color */

    /* Border */
    border: 2px solid black; /* Narrow black border */
    border-radius: 5px; /* Slightly rounded corners */

    /* Padding */
    padding: 10px 20px; /* Vertical and horizontal padding */

    /* Cursor */
    cursor: pointer; /* Hand cursor on hover */

    /* Hover Effect */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

.read-more-btn:hover {
    /* Hover Styles */
    background-color: black; /* Background color */
    color: white; /* Text color */
}
